@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  font-family: 'Roboto', sans-serif;
  color: gray;
  padding: 0;
  margin: 0;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-show{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-frame{
  display: flex;
  width: 70%;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  z-index: 102;
  padding: 15px;
}

.modal-frame img{
  margin-right: 10px;
}

.container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.loading{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
  z-index: 100;
}

.loading-show{
  display: initial;
}

.body{
  width: 90%;
  height: 100vh;
}

.body header{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

h1{
  color: gray;
}

.radius{
  border-radius: 5px;
}

.searcher-container{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}

.searcher input{
  width: 300px;
  height: 25px;
  padding-left: 30px
  padding-right: 30px;
  font-size: 14px;
}

.searcher input:focus, button:focus{
  outline: none;
}

.searcher button{
  width: 120px;
  height: 30px;
  background-color: #2185d0;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.searcher button:hover{
  background-color: #0d71bb;
  cursor: pointer;
}

.content{
  margin-top: 15px;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #d4d4d5;
  box-shadow: 1px 2px 8px 0px rgba(117,117,117,0.8);
  border-radius: 5px;
  margin-bottom: 10px
}

.card-content {
  margin-top: 15px;
}

.card img{
  height: 150px;
  margin-right: 10px;
}

.card .title-movie{
  color: gray;
}

@media (min-width: 491px) and (max-width: 768px){
  .modal-frame{
    width: 85%;
  }
}

@media (max-width: 490px){
  .modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-show{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-frame{
    width: 91%;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    z-index: 102;
  }


  .body{
    width: 95%;
  }

  .searcher-container{
    width: 100%;
  }

  .searcher{
    width: 100%;
  }

  .searcher input{
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    height: 1.8em;
  }

  .searcher button{
    width: 100.5%;
    margin-top: 5px;
    height: 2.8em;
  }

  .card img{
    height: 200px;
    margin-right: 5px;
  }
}
